@use "./variables.scss" as *;

.header {
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem;
    #nav-falcon-item,
    #nav-human-item {
        padding-right: 1.5rem;
        text-decoration: underline;
        &:hover {
            color: $link-hover;
        }
    }
}

.logoPc {
    width: 45vw;
    height: 9vh;
    margin: 0 2rem 0 1rem;
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown {
    display: inline-block;
    width: 5.6rem;
}

#button {
    padding: $padding-button;
    border: 2px solid #fff;
}

.downloadDescription {
    background-color: $black-bg;
    height: 100vh;
    padding-top: 30rem;
    a {
        text-decoration: none;
        color: $link-normal;
        border-bottom: 1px solid $link-normal;
        &:hover {
            color: $link-hover;
            border-bottom: 1px solid $link-hover;
        }
    }

    button {
        margin: 1rem;
        border: 2px solid #fff;
    }
}

.footer {
    background-color: $black-bg;
    height: 15vh;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $anchor-color;
    &:hover {
        color: $link-hover;
    }
}

.copyRodhis {
    color: $copy-color;
}

//media queries

@media (max-width: 405px) {
    .logoPc {
        width: 11.2rem;
        margin-top: 1rem;
    }
    .footer {
        font-size: 12px;
    }
}

@media (max-width: 449px) {
    .downloadDescription {
        button {
            margin: 10px 0;
        }
    }
}

@media (max-width: 350px) {
    .logoPc {
        width: 9.3rem;
        margin-top: 1rem;
    }
}
