

.container00 {
    &.container05 {
        background-image: url(../img/falcon9/01.jpg);
    }
    &.container02 {
        background-image: url(../img/falcon9/02.jpg);
    }
    &.carousel01 {
        background-image: url(../img/falcon9/03.jpg);
    }
    &.carousel02 {
        background-image: url(../img/falcon9/04.jpg);
    }
    &.carousel03 {
        background-image: url(../img/falcon9/05.jpg);
    }
    &.carousel04 {
        background-image: url(../img/falcon9/06.jpg);
    }
    &.carousel05 {
        background-image: url(../img/falcon9/07.jpg);
    }
    &.container07 {
        background-image: url(../img/falcon9/08.jpg);
    }
}
