@use "../common/variables.scss" as *;

.container00 {
    &.container05 {
        background-image: url(../img/falcon9/01.jpg);
    }
    &.container06 {
        background-image: url(../img/falcon9/02.jpg);
    }
    &.carousel01 {
        background-image: url(../img/falcon9/03.jpg);
    }
    &.carousel02 {
        background-image: url(../img/falcon9/04.jpg);
    }
    &.carousel03 {
        background-image: url(../img/falcon9/05.jpg);
    }
    &.carousel04 {
        background-image: url(../img/falcon9/06.jpg);
    }
    &.carousel05 {
        background-image: url(../img/falcon9/07.jpg);
    }
    &.container07 {
        background-image: url(../img/falcon9/08.jpg);
    }
}

.titleFalcon9 {
    font-size: 5.6rem;
    font-family: "Rubik", sans-serif;
}
.titleContent {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: center;
}

.numbers {
    background-color: $black-bg;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titleNumber {
        font-size: 5.6rem;
    }
    .subTitleNumber {
        font-size: 1.25rem;
    }
}

.containerFalcon9Description {
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: left;
}

.falcon9Description {
    font-size: 1.3rem;
    width: 40rem;
    line-height: 3.1rem;
}

#overViewPosition {
    width: 31rem;
    margin-left: 13%;
    padding-top: 15%;
}

.carouselSlide {
    img {
        height: 100vh;
    }
}

.carouselText {
    background-color: $black-bg;
    font-size: 16px;
}

//media queries falcon 9

@media (max-width: 768px) {
    .numbers {
        .titleNumber {
            font-size: 5rem;
        }
        .subTitleNumber {
            font-size: 1.1rem;
        }
    }

    .falcon9Description {
        width: auto;
    }

    #overViewPosition {
        padding-top: 35%;
    }
}

@media (max-width: 575px) {
    .numbers {
        height: 60vh;
    }
    #overViewPosition {
        width: auto;
        margin-left: auto;
    }
}

@media (max-width: 375px) {
    .titleFalcon9 {
        font-size: 3.1rem;
        font-family: "Rubik", sans-serif;
    }
    .falcon9Description {
        font-size: 18px;
        line-height: auto;
    }

    .subTitleFalcon {
        font-size: 16px;
    }
}
