

.container00 {
    &.container01 {
        background-image: url(../img/home/01.jpg);
    }
    &.container02 {
        background-image: url(../img/home/03.jpg);
    }
    &.container03 {
        background-image: url(../img/home/02.gif);
    }
    &.container04 {
        background-image: url(../img/home/04.jpg);
    }
}

.titlePadding {
    padding-top: 12.5rem;
}

.shortTitle {
    width: 36rem;
    margin-bottom: -1.5rem;
}

.mediumTitle {
    width: 41rem;
    margin-bottom: -1.5rem;
}


