@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  color: #fff;
  --bs-body-bg: transparent;
  --bs-emphasis-color: #fff;
}

.header {
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem;
}
.header #nav-falcon-item,
.header #nav-human-item {
  padding-right: 1.5rem;
  text-decoration: underline;
}
.header #nav-falcon-item:hover,
.header #nav-human-item:hover {
  color: #b9b9b9;
}

.logoPc {
  width: 45vw;
  height: 9vh;
  margin: 0 2rem 0 1rem;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 5.6rem;
}

#button {
  padding: 1rem 2.1rem;
  border: 2px solid #fff;
}

.downloadDescription {
  background-color: #000;
  height: 100vh;
  padding-top: 30rem;
}
.downloadDescription a {
  text-decoration: none;
  color: #5353fd;
  border-bottom: 1px solid #5353fd;
}
.downloadDescription a:hover {
  color: #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}
.downloadDescription button {
  margin: 1rem;
  border: 2px solid #fff;
}

.footer {
  background-color: #000;
  height: 15vh;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #b9b9b9;
}

.copyRodhis {
  color: #73b4d5;
}

@media (max-width: 405px) {
  .logoPc {
    width: 11.2rem;
    margin-top: 1rem;
  }
  .footer {
    font-size: 12px;
  }
}
@media (max-width: 449px) {
  .downloadDescription button {
    margin: 10px 0;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 9.3rem;
    margin-top: 1rem;
  }
}
.container00.container01 {
  background-image: url(../img/home/01.jpg);
}
.container00.container02 {
  background-image: url(../img/home/03.jpg);
}
.container00.container03 {
  background-image: url(../img/home/02.gif);
}
.container00.container04 {
  background-image: url(../img/home/04.jpg);
}

.titlePadding {
  padding-top: 12.5rem;
}

.shortTitle {
  width: 36rem;
  margin-bottom: 1.5rem;
}

.mediumTitle {
  width: 41rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 7.5rem;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 2rem;
  }
}
.container00.container05 {
  background-image: url(../img/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../img/falcon9/02.jpg);
}
.container00.carousel01 {
  background-image: url(../img/falcon9/03.jpg);
}
.container00.carousel02 {
  background-image: url(../img/falcon9/04.jpg);
}
.container00.carousel03 {
  background-image: url(../img/falcon9/05.jpg);
}
.container00.carousel04 {
  background-image: url(../img/falcon9/06.jpg);
}
.container00.carousel05 {
  background-image: url(../img/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../img/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 5.6rem;
  font-family: "Rubik", sans-serif;
}

.titleContent {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
}

.numbers {
  background-color: #000;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumber {
  font-size: 5.6rem;
}
.numbers .subTitleNumber {
  font-size: 1.25rem;
}

.containerFalcon9Description {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

.falcon9Description {
  font-size: 1.3rem;
  width: 40rem;
  line-height: 3.1rem;
}

#overViewPosition {
  width: 31rem;
  margin-left: 13%;
  padding-top: 15%;
}

.carouselSlide img {
  height: 100vh;
}

.carouselText {
  background-color: #000;
  font-size: 16px;
}

@media (max-width: 768px) {
  .numbers .titleNumber {
    font-size: 5rem;
  }
  .numbers .subTitleNumber {
    font-size: 1.1rem;
  }
  .falcon9Description {
    width: auto;
  }
  #overViewPosition {
    padding-top: 35%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 3.1rem;
    font-family: "Rubik", sans-serif;
  }
  .falcon9Description {
    font-size: 18px;
    line-height: auto;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
